<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br><br><br>
    <h1 class="header center orange-text"> Sklep Monolopolowy</h1>



  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><%= image_tag "hot-dog.png", class: 'img-sized' %></h2>
          <h5 class="center">Hot-Dogi</h5>

          <p class="light text-center">Zapraszamy na pyszne hot-dogi. Posiadamy klika rodzajów ssosów.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><%= image_tag "beer.png", id: "logo" %></h2>
          <h5 class="center">Piwa Rzemieślnicze</h5>

          <p class="light text-center">W sprzedaży posiadamy wiele piw z lokachnych zakładów browarniczych.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><%= image_tag "Vodka.png", id: "logo" %></h2>
          <h5 class="center">Vodka</h5>

          <p class="light text-center">Connecting People.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>

  <div class="section">

  </div>
</div>

