<div class="container">
  <ul class="collection with-header menu">
    <li class="collection-header"><h4>Menu</h4></li>
    <li class="collection-item">Piwa</li>
    <li class="collection-item">Wódki</li>
    <li class="collection-item">Wina</li>
    <li class="collection-item">Coś Nie Wiem co</li>
  </ul>


  <ul class="collection">
    <li class="collection-item avatar">
      <img src="#" alt="" class="circle">
      <span class="title">Nazwa Piwa</span>
      <p>Gatunek Produktu <br /> <br />
        Krótki Opis
      </p>

    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle">:)</i>
      <span class="title">Title</span>
      <p>COS TAM Qwe Line <br>
        Second Line
      </p>

    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">XD</i>
      <span class="title">Title</span>
      <p>First Line <br>
        Second Line
      </p>

    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">XD@</i>
      <span class="title">Title</span>
      <p>First Line <br>
        Second Line
      </p>

    </li>
  </ul>
</div>